.form{
    margin-top: 400px;    
}

body {
    margin-top: 200px;
    background: white;    
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-container3 {
    margin-top: 400px;    
    width: 40% !important;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 20px 0 50px 0;
    text-align: center;
}

.signup-form3{
    display: flex;
    height: 40% !important;
    flex-direction: column !important;
    align-items: center;
}

.form-item3{
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;     
}

.form-item3 input{
    width: 70%;
    padding: 7px;
}

.form-container3 button {
    padding: 10px 20px;
    background-color: #2b444b;
    border-color: #2b444b;
    transition: none !important;
  }