.user-profile{
    display: flex;
    justify-content: center;
}

.user-details{  
    margin: 0 100px !important; 
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 12px;
    text-align: left !important;
}


.user{
    margin-right: 200px;
}

.profile-detail h3{
    border-bottom: 2px solid grey !important;
}

.bookings{
    margin-right: 200px;
}

.bookings h5{
    border-bottom: 2px solid grey !important;
    padding: 20px 0;
}

.user-details button{
    width: 200px;
    padding: 10px 20px;
    background-color: #2b444b;
    border-color: #2b444b;
    transition: none !important;
}

.delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete svg{
    cursor: pointer;
}