.container-edit2 {
    margin-top: 400px;
    width: 50% !important;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 20px 0 50px 0;
    text-align: center;
  }
  
  .form-container6 {
    display: flex;
    height: 40% !important;
    flex-direction: column !important;
    align-items: center;
    padding: 30px;
  }
  
    .form-item6 {
    margin: 5px 0 5px 0;
    padding: 1px;
    font-size: 16px;
    border: 0;
    align-items: center;
    width: 100%;
  }
  
  .form-item6 input {
    width: 70%;
    padding: 7px;
  }
  
  .form-container6 .save {
    padding: 10px 20px;
    background-color: #2b444b;
    border-color: #2b444b;
    transition: none !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  
  .container-edit2 .alarm {
    padding: 10px 20px;
    background-color: red;
    border-color: red;
    transition: none !important;
  }
  