.signup {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.signup-option {
  width: 27%;
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.signup-option img {
  width: 50%;
}

.signup-option p {
  font-size: 1.2rem;
}

.signup-option button {
  padding: 10px 20px;
  background-color: #2b444b;
  border-color: #2b444b;
  transition: none !important;
}

